/__pycache__
.DS_Store
.Rhistory
*.mldist
*.bionj
*.log
*.iqtree
*.phy
/old/
/test_results/
/config_files/simple_test.config
usage_testing.py
simple_test.sh
simulate_data_testing.py
/figures_revision/
/r_scripts_old/
/results_revision/
.RData
/figures_revision
/figures_revision
